#about {
    height: auto;
    width: 0;
    position: fixed;
    z-index: 3;
    left: 20vw;
    top: 5vh;
    background-color: #00adbb;
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
        
}

#closebtn {
    color:white;
    text-decoration: none;
    font-size: 2em;
    position: absolute;
    right: 15px;
    top: 15px;
    display:none;
}

#seer-human-filter {
    color: #a3d9df;
    font-weight: bold;
    font-family: "Akzidenz Grotesk BE", sans-serif;
    font-size: 14px;
}

#about-title {
    margin-top: 1%;
    font-family: 'Sanchez', serif;
    font-size: 30px;
    font-weight: 400;
}

#splitter {
    width: 30vw;
    padding:1em 0em 1em 0em;
}

#must{
    color: #a3d9df;
    font-weight: bold;
    font-family: 'Akzidenz Grotesk BE', sans-serif;
    font-size: 16px;
}

#about-text {
    font-size: 18px;
    line-height: 27px;   
    font-family: 'Akzidenz Grotesk BE', sans-serif;
}

@media all and (max-width: 850px) {
    #about {
        left: 5vw;
    }
    #about-text {
        padding: -10px;
        line-height: 20px; 
        font-size:16px; 
    }
}

@media all and (min-width:850px) {
    #splitter {
        width: 20vw;
        margin: 8px;
    }

    #about {
        left: 15vw;
    }
    #about-text{
        padding: 3em 3em 0em 3em;
    }
}