#about {
    height: 90vh;
    width: 0;
    position: fixed;
    z-index: 3;
    left: 20vw;
    top: 5vh;
    background-color: #00adbb;
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10%;
    text-align: center;
}


#splitter {
    width: 30vw;
    margin-top: 4px;
    margin-bottom: 4px;
}

#about-title {
    margin-top: 1.5%;
}

@media all and (max-width: 850px) {
    #about {
        height: auto;
        left:5vw;
    }
}

@media all and (min-width:850px) {
    #splitter {
        width: 20vw;
        margin: 8px;
    }

    #about {
        margin-top: 5%;
        height: auto;
    }
}