#button-void {
    width: 90vw;
    position: fixed;
    z-index: 4;
    top: 5vh;
    left: 5vw;
}

#right-button {
    position: absolute;
    right: -1.5em;
    top: 50%;
    width: 3em;
    z-index: 4;
    display: none;
}

#left-button {
    position: absolute;
    left: -1.5em;
    top: 50%;
    width: 3em;
    z-index: 4;
    display: none;
}

.closebtnPerson {
    color: blue;
    text-decoration: none;
    font-size: 2em;
    position: absolute;
    right: 15px;
    top: 15px;
}

#person {
    height: auto;
    width: 0;
    position: fixed;
    z-index: 3;
    left: 5vw;
    color: black;
    background-color: white;
    overflow-x: hidden;
    padding-top: 40px;
    text-align: center;
    font-family: 'Akzidenz Grotesk BE', sans-serif;
    font-size: 1.4em;
    top: 50%;
    transform: translateY(-50%);
}




#person-photo {
    width: 12vw;
    height: auto;
}

#name {
    color: #C9602C;
    padding-bottom: 0.5em;
    font-family: "Sanchez";
    font-size: 35px;
    font-weight: 400;
}

#person-text {
    margin-top: 2%;
    text-align: left;
    font-size: 18px;
    line-height: 27px;
    color: #4b4e53;
}


.tag {
    margin: 10px;
}

.highlight {
    color: #00adbb;
}


@media all and (max-width:644px) {
    hr {
        display: none;
    }

    #person-photo {
        width: 8em;
        height: 8em;
    }



    #person-info {
        line-height: 40px;
        text-align: center;
    }
}



@media all and (min-width:644px) and (max-width: 850px) {


    #person-char {
        display: flex;
    }

    #person-info {
        left: 30%;
        top: 0;
        margin-left: 2em;
        text-align: left;
        line-height: 2.1em;
    }


    #person-text {
        margin-top: 5%;
    }

    #person-photo {
        width: 8em;
        height: 8em;
    }

    hr {
        border: none;
        border-left: 3px solid #E3E3E3;
        height: 12em;
        margin-left: 20px;
    }
}

@media all and (min-width:850px) {

    #button-void {
        width: 55vw;
        position: fixed;
        z-index: 4;
        top: 15vh;
        left: 22.5vw;
    }

    #person {
        height: auto;
        top: 15vh;
        left: 22.5vw;
    }

    #person-char {
        display: flex;
    }

    #person-info {
        text-align: left;
        margin-left: 1em;
        line-height: 50px;
    }

    #person-photo {
        width: 8em;
        height: 8em;
    }

    hr {
        border: none;
        border-left: 3px solid #E3E3E3;
        height: 12em;
        margin-left: 20px;
    }
}