#person {
    height: auto;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 5vh;
    left: 5vw;
    color: black;
    background-color: white;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 40px;
    text-align: center;
}

.closebtnPerson {
    color: blue;
    text-decoration: none;
    font-size: 2em;
    position: absolute;
    right:15px;
    top: 15px;
}

#person-name {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
}


#name {
    color: orange;
}

#person-text {
    margin-top: 5%;
}


.tag {
    margin: 10px;
}

.highlight {
    color: #00adbb;
}

#name {
    font-size: 1.7em;
}


#right-button {
    position: fixed;
    right: 1.5%;
    top: 35%;
    display: none;
    width: 10vw;
}

#left-button {
    position: fixed;
    left: 1.5%;
    top: 35%;
    display: none;
    width: 10vw;
}

@media all and (min-width:426px) and (max-width: 850px) {
    #person {
        height: 40vh;
    }

    #person-char{
        display:flex;
    }
    #person-name {
    position: absolute;
    left:30%;   
    top:0;
    text-align: left;
    line-height: 2.1em;
    }

    #right-button {
        position: fixed;
        right: 1.5%;
        top: 22.5%;
        display: none;
        width: 6vw;
    }

    #left-button {
        position: fixed;
        left: 1.5%;
        top: 22.5%;
        display: none;
        width: 6vw;
    }
    #person-text{
        margin-top:8%;
    }

}

@media all and (min-width:850px) {

    #person {
        height: 40vh;
    }
    
    #right-button {
        position: fixed;
        right: 1.5%;
        top: 22.5%;
        display: none;
        width: 6vw;
    }

    #left-button {
        position: fixed;
        left: 1.5%;
        top: 22.5%;
        display: none;
        width: 6vw;
    }
}