#filter-sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: white;
    color:black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#filter-nav{
    background-color:orange;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 10vh;

}

#filter-box{
 display:flex;
 flex-direction: column;  
 margin:auto;
 width:80%;
 margin-bottom:1em;
}

#filter-options{
    display:flex;
    flex-direction: column;
}
#filter-label{
    font-weight: bold;
}

#clear-filter{
    position:absolute;
    background-color:white;
    font-weight: bold;
    font-size:1.2rem;
    top:25%;
    left:10%;
    border:solid 1px white;
    padding:4px;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 20px;    
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.closebtn {
    color: white;
}

.filter-label {
    border: 1px solid gray;
    width: 100%;
}

