
#social {
    text-align: center;
    margin-bottom: 5%;
}

.social-followers {
    display: flex;
    justify-content: center;
}

.social-icons {
    display: flex;
    justify-content: center;
}



.icon {
    margin: 2.7px;
}

.arrow_box {
	position: relative;
	background: #EAEAEA;
    border: 4px solid #EAEAEA;
    margin-left:0.25em;
    margin-right:0.25em;
    margin-bottom:4px;
    padding:4px;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #EAEAEA;
	border-width: 10px;
	margin-left: -10px;
}

@media all and (max-width:426px) { 
    #social{
        margin-bottom:10%;
    }
}

@media all and (min-width:426px) and (max-width: 850px) {
    #social{
        margin-bottom:20%;
    }
}