#social {
    text-align: center;
    padding-bottom: 5em;
    padding-top: 3em;
}

.social-followers {
    display: flex;
    justify-content: center;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.twit {
    opacity: 0;
}

.social-icons img {
    margin: 2.7px;
}

.social-followers p {
    top: 20%;
    bottom: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}

.social-followers div {
    position: relative;
    background: #EAEAEA;
    border: 4px solid #EAEAEA;
    margin-left: 0.25em;
    margin-right: 0.25em;
    margin-bottom: 4px;
    padding: 16px;
    display: table;
}

.social-followers div:after,
.social-followers div:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #EAEAEA;
    border-width: 10px;
    margin-left: -10px;
}